
./Results/Modis_NIR_reflectance_UTM50N.tif
./Results/Modis_blue_reflectance_UTM50N.tif
./Results/CORINE_2K.dbf
./Results/g250_06_UK_BNG.tif
./Results/Modis_red_reflectance_UTM50N.tif
./Results/CORINE_2k_Multi.dbf
./Results/bio1_merge.tif
